<h2>Search Customers</h2>
<form action="/customers" method="GET">
    <label>Name</label>
    <input type="text" class="inputSearchIndex" name="name" value="<%= searchOptions.name %>"> <!-- chèn cách tìm kiếm từng giá trị vào form search -->
    <button type="submit" class="btnSearchIndex">Search</button>
</form>
<br>
<!-- trong db có bao nhiêu trường thì phải gọi lại bao nhiêu trường(column) -->
<!-- hiện lên tất cả thông tin của người dùng -->
<% customers.forEach(customer => { %> 
    <div>
        <p>Name: <%= customer.name %></p> 
        <p>Email: <%= customer.email %></p>
        <p>Phone: <%= customer.phone %></p>
        <p>Password: <%= customer.password %></p>
    </div>
        <a href="/customers/<%= customer.id %>" class="aViewIndex">View</a>
        <a href="/customers/<%= customer.id %>/edit" class="aEditIndex">Edit</a>

        <%- include('../partials/deleteForm', 
                    { url: `/customers/${customer.id}`}) %> 

        <!-- URL của mình trong trường hợp này là khi mình thực hiện chọn khách hàng sửa/xóa 
            và mình muốn nó được gắn thêm ID để mình sẽ lấy ID khách hàng đảm bảo rằng đây là 
            dấu bằng ở đây ?_method=DELETE mình đi và cũng chỉ muốn thêm vào phương thức 
            vì vậy mình sẽ nói phương thức gạch dưới sau một dấu hỏi về cơ bản là xác định 
            tham số truy vấn và mình sẽ đặt điều này bằng để xóa => khi máy chủ của mình nhận được
            yêu cầu này để thấy rằng đó là một requset và sẽ thực hiện nó -->
        <!-- <form method="POST" action="/customers/<%= customer.id %>?_method=DELETE ">
            <button type="submit">Delete</button>
        </form> -->
        <p>----------------------------</p>   
   
<% }) %> 

